* {
  margin: 0;
  padding: 0;
}

html {
  font-size: 16px;
  scroll-behavior: smooth;
}

body {
  font-family: Arial, sans-serif;
  background-image: linear-gradient(#242323, rgb(58, 58, 58));
  height: 3000px;
  color: whitesmoke;
}

h3 {
  display: flex;
  justify-content: center;
  font-size: 2.2rem;
}

/* * Header */

nav {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  display: flex;
  justify-content: flex-end;
  margin: 35px;
}

ul {
  list-style: none;
  display: flex;
  justify-content: center;
  flex-direction: row;
  gap: 15px;
}

li {
  font-size: 1.75rem;
}

@media only screen and (max-width: 767px) {
  li {
    font-size: 1.45rem;
  }
}

a {
  text-decoration: none;
  color: lightskyblue;
}

a:visited {
  color: lightskyblue;
}

a:hover {
  color: lightgreen;
  cursor: pointer;
}

a:active {
  color: rgb(253, 253, 129);
}

/* ** Main */

main {
  margin: 15rem 0 2rem 2.5rem;
}

main h1 {
  font-size: 4rem;
  margin-bottom: 2rem;
}

main h2 {
  font-size: 2rem;
}

/* *** About Me */

#about {
  margin-top: 500px;
}

.info {
  padding: 35px 40px 25px 40px;
}

.info p {
  font-size: 3.5rem;
}

@media only screen and (max-width: 1024px) {
  .info p {
    font-size: 2rem;
  }
}

/* **** Skills */

#skills {
  margin-top: 300px;
}

.languages {
  display: flex;
  justify-content: space-evenly;
  margin-top: 35px;
  margin-left: 50px;
}

#skills img {
  max-width: 10%;
  height: auto;
}

.css-logo {
  width: 8%;
  margin-right: 2rem;
}

/* ***** Projects */

#projects {
  margin-top: 275px;
}
