* {
  margin: 0;
  padding: 0;
}

html {
  font-size: 16px;
  scroll-behavior: smooth;
}

body {
  font-family: Arial, sans-serif;
  background-image: linear-gradient(#242323, rgb(58, 58, 58));
  height: 5000px;
  color: whitesmoke;
}

h3 {
  display: flex;
  justify-content: center;
  font-size: 2.2rem;
}

/* * Header */

header {
  background-color: #333;
}

nav {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  display: flex;
  justify-content: flex-end;
  padding: 35px;
}

ul {
  list-style: none;
  display: flex;
  justify-content: center;
  flex-direction: row;
  gap: 15px;
}

li {
  font-size: 1.75rem;
}

@media only screen and (max-width: 767px) {
  li {
    font-size: 1.45rem;
  }
}

a {
  text-decoration: none;
  color: lightskyblue;
}

a:hover {
  color: lightgreen;
  cursor: pointer;
  text-shadow: 0 0 60px 30px lightgreen;
  transition: color 500ms ease-in;
}

a:active {
  color: rgb(253, 253, 129);
}

/* ** Main */

main {
  margin: 15rem 0 2rem 2.5rem;
}

main h1 {
  font-size: 4rem;
  margin-bottom: 2rem;
  font-weight: 200;
}

main h2 {
  font-size: 2rem;
}

/* *** About Me */

#about {
  margin-top: 500px;
  padding-top: 35px;
  background-color: #414242;
}

.info {
  padding: 40px 65px 60px 65px;
}

.info p {
  font-size: 3.5rem;
}

@media only screen and (max-width: 1024px) {
  .info p {
    font-size: 2rem;
  }
}

/* **** Skills */

#skills {
  padding-top: 30px;
  padding-bottom: 30px;
  overflow: hidden;
  background-color: #585858;
}

.languages {
  display: flex;
  justify-content: space-evenly;
  margin-top: 35px;
  margin-left: 10px;
  animation: showCase 10s ease-in-out;
  animation-iteration-count: infinite;
}

@keyframes showCase {
  0% {
    transform: translateX(100%);
  }

  100% {
    transform: translateX(-100%);
  }
}

#skills img {
  max-width: 10%;
  height: auto;
}

.css-logo {
  width: 8%;
  margin-right: 2rem;
}

/* ***** Projects */

#projects {
  margin-top: 50px;
}

#projects img {
  width: 300px;
}

.project-container {
  display: flex;
  justify-content: space-evenly;
}

.projects-desc {
  display: none;
}
