* {
  margin: 0;
  padding: 0;
}

:root {
  --primary-color: #242323;
  --secondary-color: whitesmoke;
  --gradient-color: rgb(58, 58, 58);
  --third-color: #333;
  --link-color: lightskyblue;
  --hover-color: lightgreen;
  --about-color: #414242;
  --skills-color: #585858;
}

.light-mode {
  --primary-color: rgb(255, 254, 248);
  --secondary-color: #000106;
  --gradient-color: rgb(255, 254, 248);
  --third-color: rgb(209, 208, 198);
  --link-color: rgb(43, 174, 255);
  --hover-color: rgb(100, 250, 100);
  --about-color: whitesmoke;
  --skills-color: rgb(255, 254, 247);
}

html {
  font-size: 16px;
  scroll-behavior: smooth;
}

body {
  font-family: Arial, sans-serif;
  background-image: linear-gradient(
    var(--primary-color),
    var(--gradient-color)
  );
  height: 4500px;
  color: var(--secondary-color);
}

@media only screen and (max-width: 767px) {
  body {
    height: 3250px !important;
  }
}

h3 {
  display: flex;
  justify-content: center;
  font-size: 2.2rem;
}

/* * Header */

header {
  background-color: var(--third-color);
  border-bottom: 1px solid rgb(170, 170, 170);
  margin-top: -25px;
}

.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
  top: 70px;
  left: 50px;
}

@media only screen and (max-width: 570px) {
  .switch {
    top: 50px;
    left: 45px;
  }
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

input:checked + .slider {
  background-color: #222629;
}

input:focus + .slider {
  box-shadow: 0 0 1px #e5e9ec;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

nav {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  display: flex;
  justify-content: flex-end;
  padding: 35px;
}

ul {
  list-style: none;
  display: flex;
  justify-content: center;
  flex-direction: row;
  gap: 15px;
}

li {
  font-size: 1.75rem;
}

@media only screen and (max-width: 767px) {
  li {
    font-size: 1.45rem;
  }
}

@media only screen and (max-width: 570px) {
  li {
    display: none;
  }
}

.mobile {
  display: none;
}

@media only screen and (max-width: 570px) {
  .mobile {
    display: block;
    position: absolute;
    top: 20px;
    right: 40px;
  }

  .dropdown {
    position: relative;
    display: inline-block;
  }

  .dropdown .dropbtn {
    font-size: 8rem;
    border: none;
    outline: none;
    color: white;
    padding: 30px;
    background-color: inherit;
    font-family: inherit;
    margin: 0;
    height: 80px;
    line-height: 80px;
  }

  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
    right: 0;
    min-width: 400px;
  }

  .dropdown-content.show {
    display: block;
  }

  .dropdown-content a {
    float: none;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: flex;
    text-align: left;
    justify-content: center;
  }

  .dropdown-content a:hover {
    background-color: #ddd;
  }

  .dropdown:hover .dropdown-content {
    display: block;
  }

  .dropdown:focus .dropdown-content {
    display: block;
  }
}

a {
  text-decoration: none;
  color: var(--link-color);
}

a:hover {
  color: var(--hover-color);
  cursor: pointer;
  text-shadow: 0 0 60px 30px lightgreen;
  transition: color 500ms ease-in;
}

a:active {
  color: rgb(253, 253, 129);
}

/* ** Main */

main {
  margin: 15rem 0 2rem 2.5rem;
}

main h1 {
  font-size: 4rem;
  margin-bottom: 2rem;
  font-weight: 200;
}

main h2 {
  font-size: 2rem;
}

/* *** About Me */

#about {
  margin-top: 500px;
  padding-top: 35px;
  background-color: var(--about-color);
  border-bottom: 1px solid rgb(170, 170, 170);
  border-top: 1px solid rgb(170, 170, 170);
}

.info {
  padding: 40px 65px 60px 65px;
}

.info p {
  font-size: 3.5rem;
}

@media only screen and (max-width: 1024px) {
  .info p {
    font-size: 2rem;
  }
}

/* **** Skills */

#skills {
  padding-top: 30px;
  padding-bottom: 30px;
  overflow: hidden;
  background-color: var(--skills-color);
  border-bottom: 1px solid rgb(170, 170, 170);
}

.languages {
  display: flex;
  justify-content: space-evenly;
  margin-top: 35px;
  margin-left: 10px;
  animation: showCase 8s ease-in-out;
  animation-iteration-count: infinite;
}

@media only screen and (max-width: 570px) {
  .languages {
    animation: none;
  }
}

@keyframes showCase {
  0% {
    transform: translateX(100%);
  }

  100% {
    transform: translateX(-100%);
  }
}

#skills img {
  max-width: 10%;
  height: auto;
}

.css-logo {
  width: 8%;
  margin-right: 2rem;
}

/* ***** Projects */

#projects {
  margin-top: 50px;
}

#projects img {
  width: 300px;
}

.project-container {
  display: flex;
  justify-content: space-evenly;
  padding-top: 3rem;
}

@media only screen and (max-width: 570px) {
  .project-container {
    flex-direction: column;
    align-items: center;
    gap: 5vw;
  }
}

.projects-desc {
  display: none;
  font-size: 2rem;
}

.gaming-calc #calc-name {
  margin-left: 1rem;
}

.cozy-cafe #cafe-name {
  margin-left: 5rem;
}
